.Card {
  display: flex;
  flex-flow: column;
  border: 0.2rem solid cadetblue;
  justify-content: center;
  margin: 0 auto;
  height: 5rem;
  width: 5rem;
}

p {
  margin: 0;
}

img {
  height: 2rem;
  width: 2rem;
}