.CurrentWeather {
  height: auto;
  background: lightblue;
  padding: 1rem;
  display: flex;
  flex-direction: row;
}

.CurrentWeather .left-section {
  display: flex;
  flex-direction: column;
}

.CurrentWeather .right-section {
  display: flex;
  flex-direction: column;
}

.CurrentWeather span {
  display: flex;
  flex-direction: row;
  
}