.CurrentWeather {
  color: #3b3a30;
  font-size: 1rem;
  margin: 2rem auto;
  text-align: center;
  min-width: 20rem;
  width: 100%;
  max-width: 40rem;
}

.currentData {
  display: flex;
  align-items: center;
}

.CurrentWeather .left-section {
  display: flex;
  flex-direction: column;
  width: 33.33%;
  text-align: right;
}

.CurrentWeather .right-section {
  display: flex;
  flex-direction: column;
  width: 33.33%;
  text-align: left;
}

.right-section p {
  margin: 0;
}

.CurrentWeather .mid-section {
  width: 33.33%;
  text-align: center;
}

.currentTemp {
  font-size: 2rem;
  margin: 0; 
}

.CurrentWeather img {
  height: 6rem;
  width: 6rem;
  margin: 0 auto;
}

.CurrentWeather .left-section p {
  margin: 0;
}

h3 {
  margin: 0;
  width: 100%;
}

h4 {
  margin: 0;
}

.summary {
  text-align: justify; 
  width: 14rem;
  margin: 0 auto;
}