.CurrentWeather {
  height: auto;
  background: lightblue;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  width: 57rem;
  margin: 0 auto;
  color: #3b3a30;
}

.CurrentWeather .left-section {
  display: flex;
  flex-direction: column;
}

.CurrentWeather .right-section {
  display: flex;
  flex-direction: column;
  margin-left: 21rem;
  justify-content: space-around;
}

.CurrentWeather span {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 26rem;
  
}

.currentTemp {
  font-size: 4rem; 
}

.CurrentWeather img {
  height: 7rem;
  width: 7rem;
}