.Header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  position: relative;
  margin: auto;
}

h1 {
  font-family: sans-serif;
  font-size: 3rem;
  font-weight: bolder;
  margin: 0;
}