.Search {
  background-color: rgba(255, 255, 255, 0.8);
  margin: 1rem auto;
  position: -webkit-sticky;
  position: sticky;
  text-align: center;
  top: 0.4rem;
  width: 100%;
}

.Search input {
  background-color: rgba(255, 255, 255, 0.6);
  border: 0.06rem solid cadetblue;
  border-radius: 0.2rem;
  text-align: left;
  margin: 0 auto;
  padding-left: 0.3rem;
  width: 13rem;
  height: 1.5rem;
}

.Search .submit-input {
  background: url('./images/magnifier.png') no-repeat 50%/60%;
  border: none;
  border-radius: 0;
  cursor: pointer;
  outline: none;
  text-align: center;
  margin-left: -2.06rem;
  height: 1.63rem;
  width: 2rem;
}

.submit-input:hover {
  background: url('./images/magnifier-white.png') no-repeat 50%/60%;
  background-color: cadetblue;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}