.Search {
  margin: 1rem;
}

.Search input {
  border: 0.1rem solid cadetblue;
  border-radius: 0.2rem;
  text-align: center;
  margin: 0 0.1rem;
  width: 10rem;
  height: 1.5rem;
}

.Search .state-input {
  width: 3rem;
}

button {
  border-radius: 0.2rem;
  margin: 0 0.2rem;
  height: 1.8rem;
}
