.TenDay {
  display: flex;
  flex-direction: column;
  float: left;
  margin-left: 0.5rem;
  width: 96vw;
}

.TenDay .Card {
  height: 4rem;
  float: left;
  width: 97%;
  display: flex;
  flex-direction: row;
  font-size: 1rem;
}

.TenDay .Card p {
  margin: 1rem;
}

.TenDay .Card img {
  width: 4rem;
  height: 4rem;
}