.TenDay {
  margin: 0 auto;
  min-width: 20rem;
  max-width: 35rem;
}

.TenDay .Card {
  display: flex;
  flex-flow: row wrap;
  font-size: 1rem;
  justify-content: space-around;
  padding: 1rem 0;
  height: 4rem;
  min-width: 20rem;
  width: 100%;
  max-width: 35rem;
}

.TenDay .Card h4 {
  margin: 0;
}

.TenDay .Card img {
  width: 4rem;
  height: 4rem;
}