.TenDay {
  border-bottom: 0.06rem solid #fff;
  border-top: 0.06rem solid #fff;
  margin: 0rem auto;
  flex: 1;
  position: relative;
  overflow: scroll;
  min-width: 20rem;
  max-width: 35rem;
}

.TenDay .Card {
  display: flex;
  flex-flow: row wrap;
  font-size: 1rem;
  justify-content: space-around;
  padding: 1rem 0;
  height: 1.5em;
  min-width: 20rem;
  width: 100%;
  max-width: 35rem;
}

.TenDay .Card h4 {
  margin: 0;
}

.TenDay .Card img {
  width: 2rem;
  height: 2rem;
}